<p style="color: green"><%= notice %></p>

<%= link_to "submit", new_link_path %>

<br/><br/><hr/>

<div id="links">
  <% @links.each do |link| %>
    <br/>
    <%= render link %>
    <p>
      <%= link_to "view", link %>
    </p>
    <hr/>
  <% end %>
</div>

