<p style="color: green"><%= notice %></p>

<%= render @link %>

<div>
  <% if @link.user == current_user %>
    <%= link_to "edit", edit_link_path(@link) %> &middot;
    <%= button_to "delete", @link, method: :delete, class: "button" %>
  <% end %>
</div>
