.link h2 {
  margin: 0;
}

.link p {
  margin: 0;
}

.posted-by {
  margin-top: 0.5em;
}

.description {
  margin: 1em 0;
}

.button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.button_to {
  display: inline;
}

body {
  max-width: 45vw;
  margin: 0 auto;
}
