.link h2 {
  margin: 0;
}

.link p {
  margin: 0;
}

.posted-by {
  margin-top: 0.5em;
}

.description {
  margin: 1em 0;
}

.button {
  background: none;
  border: none;
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}

.button_to {
  display: inline;
}

body {
  max-width: 45vw;
  margin: 0 auto;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
}

a {
  color: #333;
}

nav {
  margin: 1em auto;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
}

.link-card {
  margin: 1em auto;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
}
